In [33]:
from chronos import BaseChronosPipeline, Chronos2Pipeline
import pandas as pd
import os
from dotenv import load_dotenv
import requests
from utils import upload
import dropbox
from pandas.tseries.frequencies import to_offset
import holidays
import torch

load_dotenv()

True

In [ ]:
try:
    chronos_gpu_or_cpu = os.getenv("CHRONOS_GPU_OR_CPU", "gpu").lower()
    if chronos_gpu_or_cpu not in ["gpu", "cpu"]:
        raise ValueError("Invalid value for CHRONOS_GPU_OR_CPU. Must be 'gpu' or 'cpu'.")

    if chronos_gpu_or_cpu == "gpu":


        torch.cuda.set_device(int(os.getenv("CHRONOS_GPU_DEVICE", 0)))

        # Load the Chronos-2 pipeline
        # GPU recommended for faster inference, but CPU is also supported
        pipeline: Chronos2Pipeline = BaseChronosPipeline.from_pretrained(
            "amazon/chronos-2",
            device_map="cuda"
            # device_map="cpu"
    )
    else:
        
        # Load the Chronos-2 pipeline
        # GPU recommended for faster inference, but CPU is also supported
        pipeline: Chronos2Pipeline = BaseChronosPipeline.from_pretrained(
            "amazon/chronos-2",
            device_map="cpu"
    )
except Exception as e:
    print(f"Error loading Chronos-2 pipeline: {e}")
    
    pipeline: Chronos2Pipeline = BaseChronosPipeline.from_pretrained(
    "amazon/chronos-2",
    device_map="cpu"
    raise

In [35]:
def regularize_hourly(g: pd.DataFrame) -> pd.DataFrame:
    """
    Reindex each group's timestamps to strict hourly and fill gaps.
    Works whether the grouping column is present or omitted (include_groups=False).
    """
    # The group key (id) is available as g.name; if ID_COL exists, prefer it.
    sid = g[ID_COL].iloc[0] if ID_COL in g.columns else g.name

    g = g.sort_values(TS_COL)
    full_idx = pd.date_range(g[TS_COL].min(), g[TS_COL].max(), freq="h")
    g = g.set_index(TS_COL).reindex(full_idx)
    g.index.name = TS_COL

    # restore id (constant for the whole group)
    g[ID_COL] = sid

    # numeric + fill for targets
    for col in TARGETS:
        if col in g.columns:
            g[col] = pd.to_numeric(g[col], errors="coerce").ffill().bfill()
    return g.reset_index()

def add_holiday_flags(
    df: pd.DataFrame,
    ts_col: str = "ds",
    local_tz: str = "America/Montreal",
    observed: bool = True,
    include_names: bool = False,
) -> pd.DataFrame:
    """
    Adds boolean columns:
      • is_qc_holiday       — Québec public holiday (CA-QC)
      • is_jewish_holiday   — Israeli public/Jewish holiday (IL)
    Optionally adds:
      • qc_holiday_name
      • jewish_holiday_name

    Notes:
      • Holiday checks are date-based (00:00–24:00 local calendar date),
        not sundown-to-sundown observance.
      • NaT timestamps are ignored gracefully.
    """
    out = df.copy()

    # 1) Parse to datetime
    out[ts_col] = pd.to_datetime(out[ts_col], errors="coerce")

    # 2) Get the calendar DATE to use for holiday lookup
    #    - If tz-aware: convert to Montreal then take .date
    #    - If naive: assume values already represent local Montreal wall-clock; just take .date
    if getattr(out[ts_col].dt, "tz", None) is not None:
        dates_for_calendar = out[ts_col].dt.tz_convert(local_tz).dt.date
    else:
        dates_for_calendar = out[ts_col].dt.date

    # 3) Build a SAFE integer year range for the holiday objects
    years_series = pd.Series(dates_for_calendar)
    years_series = years_series.dropna().map(lambda d: int(pd.Timestamp(d).year))
    if years_series.empty:
        raise ValueError("No valid datetimes found to extract holiday years.")
    years = list(range(int(years_series.min()), int(years_series.max()) + 1))

    # 4) Construct holiday calendars
    qc_holidays = holidays.Canada(subdiv="QC", years=years, observed=observed)
    il_holidays = holidays.Israel(years=years, observed=observed)

   # 5) Flag membership
    out["is_qc_holiday"] = [ ("yes" if d in qc_holidays else "no") if pd.notna(pd.Timestamp(d)) else "no"
                             for d in dates_for_calendar ]
    out["is_jewish_holiday"] = [ ("yes" if d in il_holidays else "no") if pd.notna(pd.Timestamp(d)) else "no"
                                 for d in dates_for_calendar ]

    if include_names:
        out["qc_holiday_name"] = [ qc_holidays.get(d, "no") if pd.notna(pd.Timestamp(d)) else "no"
                                   for d in dates_for_calendar ]
        out["jewish_holiday_name"] = [ il_holidays.get(d, "no") if pd.notna(pd.Timestamp(d)) else "no"
                                       for d in dates_for_calendar ]

    return out

shift_types_dict = {'W1':'flow',
 'X1':'pod',
 'X3':'pod',
 'X4':'vertical',
 'X2':'vertical',
 'WOC1':'oncall',
 'WOC2':'oncall',
 'WOC3':'oncall',
 'X5':'pod',
 'W3':'overlap',
 'Y1':'pod',
 'Y3':'pod',
 'Y4':'vertical',
 'Y2':'vertical',
 'Y5':'pod',
 'Z1':'night',
 'Z2':'night',
 'D1':'pod',
 'R1':'pod',
 'P1':'vertical',
 'D2':'vertical',
 'OC1':'oncall',
 'OC2':'oncall',
 'V1':'flow',
 'A1':'pod',
 'G1':'vertical',
 'E1':'pod',
 'R2':'pod',
 'A2':'pod',
 'P2':'vertical',
 'E2':'vertical',
 'N1':'night',
 'N2':'night',
 'L2':'overlap',
 'L4':'overlap',
 'H1':'teaching',
 'B1':'vertical',
 'L1':'overlap',
 'W5':'overlap',
 'L6':'overlap',
 'B2':'vertical'}

In [36]:
# Load hourly data
df = pd.read_csv(
    'https://www.dropbox.com/scl/fi/s83jig4zews1xz7vhezui/allDataWithCalculatedColumns.csv?rlkey=9mm4zwaugxyj2r4ooyd39y4nl&raw=1')
df.ds = pd.to_datetime(df.ds, errors="coerce")
df['id'] = 'jgh'

hourly_report_df = df.copy()
df.tail()

,ds,INFLOW_STRETCHER,Infl_Stretcher_cum,INFLOW_AMBULATORY,Infl_Ambulatory_cum,Inflow_Total,Inflow_Cum_Total,INFLOW_AMBULANCES,Infl_Ambulances_cum,FLS,...,RAZ_IMCONS_MORE4H,RAZ_XRAY_MORE2H,RAZ_CT_MORE2H1,PSYCH1,PSYCH_WAITINGADM,total_tbs,vert_tbs,pod_tbs,overflow,id
44867,2026-02-18 10:00:00,9,36,4,17,13,53,0,6,0,...,1,2,3,11,9,9,8,1,12,jgh
44868,2026-02-18 11:00:00,9,45,7,24,16,69,4,10,0,...,0,2,4,11,8,7,3,4,11,jgh
44869,2026-02-18 12:00:00,13,58,8,32,21,90,4,14,1,...,0,2,3,13,9,18,10,8,13,jgh
44870,2026-02-18 13:00:00,11,69,9,41,20,110,1,15,0,...,0,2,4,12,9,21,10,11,17,jgh
44871,2026-02-18 14:00:00,9,78,8,49,17,127,4,19,0,...,0,2,4,13,9,27,17,10,16,jgh

In [37]:
# Load shift data
all_shifts_df = pd.read_csv('https://www.dropbox.com/scl/fi/yeyr2a7pj6nry8i2q3m0c/all_shifts.csv?rlkey=q1su2h8fqxfnlu7t1l2qe1w0q&raw=1')
all_shifts_df['shift_start'] = pd.to_datetime(all_shifts_df['shift_start']).dt.round('h')
all_shifts_df['shift_end'] = pd.to_datetime(all_shifts_df['shift_end']).dt.round('h')
all_shifts_df['shift_type'] = all_shifts_df['shift_short_name'].map(shift_types_dict)
all_shifts_df.tail()

,scheduled_shift_id,group_id,user_id,employee_id,npi,first_name,last_name,facility_id,facility_ext_id,facility_name,...,shift_start,shift_end,shift_hours,work_start,work_end,work_hours,count_as_shift,is_night,is_weekend,shift_type
29979,88873,1,39,NaN,NaN,ThuHang,Tran,1,NaN,Jewish General Hospital,...,2026-02-25 16:00:00,2026-02-26 00:00:00,8.00,2/25/2026 16:00,2/26/2026 00:00,8.00,1,0,0,vertical
29980,88871,1,28,NaN,NaN,Emily,Moras,1,NaN,Jewish General Hospital,...,2026-02-25 16:00:00,2026-02-26 00:00:00,8.00,2/25/2026 16:00,2/26/2026 00:00,8.00,1,0,0,pod
29981,88874,1,80,NaN,NaN,Natasha,Poirier,1,NaN,Jewish General Hospital,...,2026-02-25 18:00:00,2026-02-26 02:00:00,8.00,2/25/2026 18:00,2/26/2026 02:00,8.00,1,0,0,vertical
29982,88215,1,12,NaN,NaN,Julia,Bernard,1,NaN,Jewish General Hospital,...,2026-02-26 00:00:00,2026-02-26 08:00:00,8.08,2/25/2026 23:45,2/26/2026 07:50,8.08,1,1,0,night
29983,88875,1,61,NaN,NaN,Alexander,Hart,1,NaN,Jewish General Hospital,...,2026-02-26 00:00:00,2026-02-26 08:00:00,8.08,2/25/2026 23:45,2/26/2026 07:50,8.08,1,1,0,night

In [38]:
# Create hourly rows
# We'll use a list comprehension to generate the range for each row
expanded_rows = []
for _, row in all_shifts_df.iterrows():
    # Create range. inclusive='left' means [start, end)
    # If start == end (e.g. 0 length shift after rounding), it will be empty, which is correct
    hours = pd.date_range(row['shift_start'], row['shift_end'], freq='h', inclusive='left')
    for h in hours:
        expanded_rows.append({
            'ds': h,
            'user': row['first_name']+row['last_name'],
            'shift_type': row['shift_type'],
            'shift_short_name': row['shift_short_name']
        })

expanded_df = pd.DataFrame(expanded_rows)

expanded_df.tail()

                        ds           user shift_type shift_short_name
273095 2026-02-26 03:00:00  AlexanderHart      night               N2
273096 2026-02-26 04:00:00  AlexanderHart      night               N2
273097 2026-02-26 05:00:00  AlexanderHart      night               N2
273098 2026-02-26 06:00:00  AlexanderHart      night               N2
273099 2026-02-26 07:00:00  AlexanderHart      night               N2

In [39]:
# Pivot
# index=timestamp, columns=user_id, values=shift_type
hourly_shifts_by_user_df = expanded_df.pivot_table(
    index='ds', 
    columns='user', 
    values='shift_type', 
    aggfunc='first' # In case of duplicates, take the first
)

# Fill NaNs
hourly_shifts_by_user_df = hourly_shifts_by_user_df.fillna('NotWorking')
hourly_shifts_by_user_df.tail()

user,AlanAzuelos,AlexGuttman,AlexanderHart,AlexandreDostaler,AlexisHaligua,AmelieBellemare,ArzuChaudhry,BernardUnger,DahliaGuttman,DanielMankarios,...,PaulBrisebois,PhilipStasiak,RafaelAroutiunian,SaraAhronheim,ShuoPeng,StephenRosenthal,TanLe,ThuHangTran,WayneChoi,WillGrad
ds,,,,,,,,,,,,,,,,,,,,,
2026-02-26 03:00:00,NotWorking,NotWorking,night,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,...,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking
2026-02-26 04:00:00,NotWorking,NotWorking,night,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,...,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking
2026-02-26 05:00:00,NotWorking,NotWorking,night,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,...,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking
2026-02-26 06:00:00,NotWorking,NotWorking,night,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,...,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking
2026-02-26 07:00:00,NotWorking,NotWorking,night,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,...,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking,NotWorking

In [40]:
df.columns.tolist()

['ds',
 'INFLOW_STRETCHER',
 'Infl_Stretcher_cum',
 'INFLOW_AMBULATORY',
 'Infl_Ambulatory_cum',
 'Inflow_Total',
 'Inflow_Cum_Total',
 'INFLOW_AMBULANCES',
 'Infl_Ambulances_cum',
 'FLS',
 'CUM_ADMREQ',
 'CUM_BA1',
 'WAITINGADM',
 'TTStr',
 'TRG_HALLWAY1',
 'TRG_HALLWAY_TBS',
 'reoriented_cum',
 'reoriented_cum_MD',
 'QTRACK1',
 'RESUS',
 'Pod_T',
 'POD_GREEN',
 'POD_GREEN_TBS',
 'POD_YELLOW',
 'POD_YELLOW_TBS',
 'POD_ORANGE',
 'POD_ORANGE_TBS',
 'POD_CONS_MORE2H',
 'POD_IMCONS_MORE4H',
 'POD_XRAY_MORE2H',
 'POD_CT_MORE2H',
 'POST_POD1',
 'VERTSTRET',
 'RAZ_TBS',
 'RAZ_LAZYBOY',
 'RAZ_WAITINGREZ',
 'AMBVERT1',
 'AMBVERTTBS',
 'QTrack_TBS',
 'Garage_TBS',
 'RAZ_CONS_MORE2H',
 'RAZ_IMCONS_MORE4H',
 'RAZ_XRAY_MORE2H',
 'RAZ_CT_MORE2H1',
 'PSYCH1',
 'PSYCH_WAITINGADM',
 'total_tbs',
 'vert_tbs',
 'pod_tbs',
 'overflow',
 'id']

In [41]:
ID_COL = "id"
TS_COL = "ds"
# TARGETS = ['total_tbs', 'Inflow_Total', 'overflow']
# Targets are all columns in df except ds (timestamp) and id
TARGETS = [col for col in df.columns.tolist() if col != TS_COL and col != ID_COL]

df = df.copy()
df[TS_COL] = pd.to_datetime(df[TS_COL], errors="coerce")
df = df.dropna(subset=[TS_COL])

# Snap to exact hours (lowercase 'h' to avoid FutureWarning)
df[TS_COL] = df[TS_COL].dt.floor("h")

# Sort + dedupe
df = df.sort_values([ID_COL, TS_COL]).drop_duplicates(
    [ID_COL, TS_COL], keep="last")





# Call apply with include_groups=False if supported; else fall back
gb = df.groupby(ID_COL, group_keys=False)
try:
    df = gb.apply(regularize_hourly, include_groups=False)
except TypeError:
    # older pandas without include_groups
    df = gb.apply(regularize_hourly)

# Assert truly hourly (accept 'h' and 'H')
g = df[df[ID_COL] == "jgh"].sort_values(TS_COL)
freq = pd.infer_freq(g[TS_COL])
if not freq:
    raise ValueError("No inferable frequency after regularization.")
if to_offset(freq).name.lower() != "h":
    # extra check independent of infer_freq
    diffs = g[TS_COL].diff().dropna()
    bad = g.loc[diffs != pd.Timedelta(hours=1), TS_COL].head(10).tolist()
    raise ValueError(f"Non-1h gaps remain around: {bad}")

In [56]:
# Predict
print('Predicting basic forecast')
basic_forecast = pipeline.predict_df(
    df,
    prediction_length=24,
    # future_df = future_df.head(24),
    # quantile_levels=[0.1, 0.5, 0.9],
    # quantile_levels=[0.5],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)

basic_forecast.head()

Predicting basic forecast

,id,ds,target_name,predictions,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
0,jgh,2026-02-18 15:00:00,INFLOW_STRETCHER,9.885828,6.584386,7.723598,8.526285,9.214602,9.885828,10.545608,11.277125,12.212341,13.611851
1,jgh,2026-02-18 16:00:00,INFLOW_STRETCHER,8.439986,5.168471,6.250541,7.055836,7.760269,8.439986,9.144719,9.882596,10.873253,12.258287
2,jgh,2026-02-18 17:00:00,INFLOW_STRETCHER,7.522025,4.304626,5.366688,6.165224,6.855197,7.522025,8.219094,8.941126,9.866089,11.132671
3,jgh,2026-02-18 18:00:00,INFLOW_STRETCHER,6.451640,3.484040,4.405576,5.131051,5.792397,6.451640,7.133974,7.859581,8.787024,10.110312
4,jgh,2026-02-18 19:00:00,INFLOW_STRETCHER,6.230613,3.260860,4.150126,4.874221,5.555996,6.230613,6.928274,7.644954,8.539656,9.832757

In [57]:
basic_forecast.target_name.value_counts()

target_name
INFLOW_STRETCHER       24
Infl_Stretcher_cum     24
INFLOW_AMBULATORY      24
Infl_Ambulatory_cum    24
Inflow_Total           24
Inflow_Cum_Total       24
INFLOW_AMBULANCES      24
Infl_Ambulances_cum    24
FLS                    24
CUM_ADMREQ             24
CUM_BA1                24
WAITINGADM             24
TTStr                  24
TRG_HALLWAY1           24
TRG_HALLWAY_TBS        24
reoriented_cum         24
reoriented_cum_MD      24
QTRACK1                24
RESUS                  24
Pod_T                  24
POD_GREEN              24
POD_GREEN_TBS          24
POD_YELLOW             24
POD_YELLOW_TBS         24
POD_ORANGE             24
POD_ORANGE_TBS         24
POD_CONS_MORE2H        24
POD_IMCONS_MORE4H      24
POD_XRAY_MORE2H        24
POD_CT_MORE2H          24
POST_POD1              24
VERTSTRET              24
RAZ_TBS                24
RAZ_LAZYBOY            24
RAZ_WAITINGREZ         24
AMBVERT1               24
AMBVERTTBS             24
QTrack_TBS             24
Garage_TBS             24
RAZ_CONS_MORE2H        24
RAZ_IMCONS_MORE4H      24
RAZ_XRAY_MORE2H        24
RAZ_CT_MORE2H1         24
PSYCH1                 24
PSYCH_WAITINGADM       24
total_tbs              24
vert_tbs               24
pod_tbs                24
overflow               24
Name: count, dtype: int64

In [58]:
# basic_forecast


df_with_holidays = add_holiday_flags(df, ts_col='ds', include_names=True)

#create a dataframe with the next 24 hours timestamps hourly as column 'ds', with column 'id' jgh
future_df = hourly_shifts_by_user_df.reset_index()[hourly_shifts_by_user_df.reset_index()['ds'] > df['ds'].max()]
future_df['id'] = 'jgh'
future_df = add_holiday_flags(future_df, ts_col='ds', include_names=True)

# First, add holiday flags to future_df
future_df_with_added_holidays = add_holiday_flags(future_df, ts_col='ds', include_names=True)

# Then, select only the columns from future_df_with_added_holidays that are also in df_with_holidays
common_columns = [col for col in future_df_with_added_holidays.columns if col in df_with_holidays.columns]
future_df_with_holidays = future_df_with_added_holidays[common_columns]

# Predict
print('Predicting forecast with holidays')  
forecast_with_holidays = pipeline.predict_df(
    df_with_holidays,
    prediction_length=24,
    future_df = future_df_with_holidays.head(24),
    # quantile_levels=[0.1, 0.5, 0.9],
    # quantile_levels=[0.5],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)
forecast_with_holidays.tail()

Predicting forecast with holidays

,id,ds,target_name,predictions,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
1171,jgh,2026-02-19 10:00:00,overflow,9.143729,4.277884,5.788853,6.959887,8.046910,9.143729,10.316897,11.567143,13.146269,15.368580
1172,jgh,2026-02-19 11:00:00,overflow,9.877722,4.609983,6.251772,7.527389,8.698851,9.877722,11.131536,12.464279,14.181940,16.647795
1173,jgh,2026-02-19 12:00:00,overflow,10.948707,4.968506,6.887187,8.343255,9.650045,10.948707,12.349289,13.826399,15.690053,18.372889
1174,jgh,2026-02-19 13:00:00,overflow,11.924185,5.369325,7.506589,9.131444,10.542544,11.924185,13.442682,15.088456,17.186445,20.150200
1175,jgh,2026-02-19 14:00:00,overflow,12.700732,5.687804,7.904862,9.620598,11.160392,12.700732,14.384520,16.152023,18.357468,21.417591

In [59]:
df_with_staffing = df.merge(hourly_shifts_by_user_df, on='ds')
future_df_with_staffing = hourly_shifts_by_user_df.reset_index()[hourly_shifts_by_user_df.reset_index()['ds'] > df['ds'].max()]
future_df_with_staffing['id'] = 'jgh'

print('Predicting forecast with staffing')
forecast_with_staffing = pipeline.predict_df(
    df_with_staffing,
    prediction_length=24,
    future_df = future_df_with_staffing.head(24),
    # quantile_levels=[0.1, 0.5, 0.9],
    # quantile_levels=[0.5],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)

forecast_with_staffing.tail()

Predicting forecast with staffing

,id,ds,target_name,predictions,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9
1171,jgh,2026-02-19 10:00:00,overflow,9.267892,4.062114,5.624074,6.872452,8.059483,9.267892,10.547121,11.913421,13.636690,16.076603
1172,jgh,2026-02-19 11:00:00,overflow,9.571556,4.174425,5.812633,7.101950,8.321764,9.571556,10.935669,12.434394,14.334946,16.977509
1173,jgh,2026-02-19 12:00:00,overflow,10.595529,4.055529,6.065817,7.736473,9.215639,10.595529,12.163661,13.881680,16.048618,19.037428
1174,jgh,2026-02-19 13:00:00,overflow,11.391407,4.444723,6.543433,8.292056,9.892385,11.391407,13.050058,14.911222,17.287319,20.473484
1175,jgh,2026-02-19 14:00:00,overflow,11.865286,4.596127,6.631048,8.433403,10.152755,11.865286,13.654150,15.511318,17.812393,20.848022

In [60]:
weather_df = pd.read_csv('https://www.dropbox.com/scl/fi/gmhwwld9z9yychg4r0yuk/weather.csv?rlkey=66c78m90aviamr0x0uu72pfr8&raw=1')
weather_df.ds = pd.to_datetime(weather_df.ds, errors="coerce")


future_weather_df = weather_df[weather_df.ds > df.ds.max()].head(24)
future_weather_df['id']='jgh'

print('Predicting forecast with weather')
# Predict
forecast_with_weather = pipeline.predict_df(
    #join df with weather_df on ds
    df.merge(weather_df, on='ds'),
    prediction_length=24,
    #weather_df where ds is greater than the max of df.ds.max()
    future_df = future_weather_df,
    # future_df = future_df.head(24),
    # quantile_levels=[0.1, 0.5, 0.9],
    quantile_levels=[0.5],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)

Predicting forecast with weather

In [61]:
weather_df.tail()

,ds,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,wind_speed_10m,wind_direction_10m,wind_gusts_10m,precipitation_probability
45144,2026-02-25 00:00:00,-9.410999,86.0,-11.317144,-14.574754,0.0,0.0,0.0,0.3,3.0,1018.000000,988.711121,99.0,32.0,85.0,73.0,12.413476,253.141510,33.119999,2.0
45145,2026-02-25 01:00:00,-10.611000,88.0,-12.212090,-15.505177,0.0,0.0,0.0,0.3,3.0,1018.500000,989.065186,97.0,42.0,90.0,63.0,10.137692,253.495560,27.359999,4.0
45146,2026-02-25 02:00:00,-11.960999,89.0,-13.404593,-16.485199,0.0,0.0,0.0,0.3,3.0,1019.000000,989.401123,95.0,66.0,86.0,43.0,7.072878,255.256393,19.440001,4.0
45147,2026-02-25 03:00:00,-13.261000,90.0,-14.552350,-17.586199,0.0,0.0,0.0,0.3,3.0,1019.299988,989.546814,94.0,83.0,81.0,32.0,5.241679,254.054535,12.599999,4.0
45148,2026-02-25 04:00:00,-14.710999,89.0,-16.120543,-19.038370,0.0,0.0,0.0,0.3,3.0,1019.400024,989.479980,96.0,86.0,78.0,41.0,4.680000,247.380096,8.640000,4.0

In [62]:
# All variables forecast
print('Predicting all variables forecast')
all_variable_df = add_holiday_flags(df_with_staffing, ts_col='ds', include_names=True).merge(weather_df, on='ds')

forecast_all_vars_with_future = pipeline.predict_df(
    all_variable_df,
    prediction_length=24,
    #future_df should be future_df_with_staffing merged with future_weather_df on 'ds' and 'id'
    future_df = future_df_with_staffing.merge(future_weather_df, on=['ds', 'id']),
    # quantile_levels=[0.1, 0.5, 0.9],
    quantile_levels=[0.2,0.5,0.8],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)   
forecast_all_vars_with_future.head()

Predicting all variables forecast

,id,ds,target_name,predictions,0.2,0.5,0.8
0,jgh,2026-02-18 15:00:00,INFLOW_STRETCHER,10.429388,8.196268,10.429388,12.763483
1,jgh,2026-02-18 16:00:00,INFLOW_STRETCHER,8.829931,6.502771,8.829931,11.409429
2,jgh,2026-02-18 17:00:00,INFLOW_STRETCHER,7.921287,5.598527,7.921287,10.441795
3,jgh,2026-02-18 18:00:00,INFLOW_STRETCHER,6.457362,4.281445,6.457362,8.955507
4,jgh,2026-02-18 19:00:00,INFLOW_STRETCHER,6.159695,3.980616,6.159695,8.684565

In [63]:
#join the predictions columns of basic_forecast, forecast_with_holidays, forecast_with_staffing, forecast_with_weather, forecast_all_vars_without_future, forecast_all_vars_with_future on the 'ds' column
basic_forecast = basic_forecast[['ds', 'target_name', 'predictions']].rename(columns={'predictions':'basic_forecast'})
forecast_with_holidays = forecast_with_holidays[['ds', 'target_name', 'predictions']].rename(columns={'predictions':'forecast_with_holidays'})
forecast_with_staffing = forecast_with_staffing[['ds', 'target_name', 'predictions']].rename(columns={'predictions':'forecast_with_staffing'})
forecast_with_weather = forecast_with_weather[['ds', 'target_name', 'predictions']].rename(columns={'predictions':'forecast_with_weather'})
# forecast_all_vars_without_future = forecast_all_vars_without_future[['ds', 'target_name', 'predictions']].rename(columns={'predictions':'forecast_all_vars_without_future'})
forecast_all_vars_with_future_to_merge = forecast_all_vars_with_future[['ds', 'target_name', 'predictions']].rename(columns={'predictions':'forecast_all_vars_with_future'})

pred_df = basic_forecast.merge(forecast_with_holidays, on=['ds', 'target_name']).merge(forecast_with_staffing, on=['ds', 'target_name']).merge(forecast_with_weather, on=['ds', 'target_name']).merge(forecast_all_vars_with_future_to_merge, on=['ds', 'target_name'])
pred_df.head()

,ds,target_name,basic_forecast,forecast_with_holidays,forecast_with_staffing,forecast_with_weather,forecast_all_vars_with_future
0,2026-02-18 15:00:00,INFLOW_STRETCHER,9.885828,9.888047,10.362883,9.793264,10.429388
1,2026-02-18 16:00:00,INFLOW_STRETCHER,8.439986,8.438853,8.824952,8.388654,8.829931
2,2026-02-18 17:00:00,INFLOW_STRETCHER,7.522025,7.547947,7.992681,7.403415,7.921287
3,2026-02-18 18:00:00,INFLOW_STRETCHER,6.451640,6.460098,6.504664,6.364170,6.457362
4,2026-02-18 19:00:00,INFLOW_STRETCHER,6.230613,6.218679,6.206556,6.081746,6.159695

In [64]:
# Create a new dataframe with the average % difference of each forecast compared to the basic forecast, for each target_name averaged over all ds
# The output dataframe should only have 1 row per target_name, and columns for the average % difference of each forecast compared to the basic forecast
comparison_df = pred_df.copy()
comparison_df['%diff_holidays'] = (comparison_df['forecast_with_holidays'] - comparison_df['basic_forecast']) / comparison_df['basic_forecast'] * 100
comparison_df['%diff_staffing'] = (comparison_df['forecast_with_staffing'] - comparison_df['basic_forecast']) / comparison_df['basic_forecast'] * 100
comparison_df['%diff_weather'] = (comparison_df['forecast_with_weather'] - comparison_df['basic_forecast']) / comparison_df['basic_forecast'] * 100
comparison_df['%diff_all_vars_with_future'] = (comparison_df['forecast_all_vars_with_future'] - comparison_df['basic_forecast']) / comparison_df['basic_forecast'] * 100
comparison_df = comparison_df.groupby('target_name')[['%diff_holidays', '%diff_staffing', '%diff_weather', '%diff_all_vars_with_future']].mean().reset_index()
comparison_df.head()
# comparison_df.to_csv('forecast_variable_effects.csv', index=False)

,target_name,%diff_holidays,%diff_staffing,%diff_weather,%diff_all_vars_with_future
0,AMBVERT1,-0.741872,16.331989,8.071551,20.527157
1,AMBVERTTBS,-0.569871,23.270416,7.575395,26.347998
2,CUM_ADMREQ,-0.444153,-2.794200,-2.289150,-3.966323
3,CUM_BA1,-0.552598,-3.154791,2.109486,-0.790546
4,FLS,-716.558105,-2233.501221,-841.090332,-2666.997559

In [65]:
anomaly_detection_ranges_df = pd.read_csv('https://www.dropbox.com/scl/fi/fjz0am427gw35sz7l994m/anomaly_detection_ranges.csv?rlkey=lib9w0jz2zei5n566jv76o7ol&raw=1')
anomaly_detection_ranges_df.ds = pd.to_datetime(anomaly_detection_ranges_df.ds, errors="coerce")
anomaly_detection_ranges_df.tail()

,ds,INFLOW_STRETCHER_yhat,INFLOW_STRETCHER_yhat_lower,INFLOW_STRETCHER_yhat_upper,Infl_Stretcher_cum_yhat,Infl_Stretcher_cum_yhat_lower,Infl_Stretcher_cum_yhat_upper,INFLOW_AMBULATORY_yhat,INFLOW_AMBULATORY_yhat_lower,INFLOW_AMBULATORY_yhat_upper,...,total_tbs_yhat_upper,vert_tbs_yhat,vert_tbs_yhat_lower,vert_tbs_yhat_upper,pod_tbs_yhat,pod_tbs_yhat_lower,pod_tbs_yhat_upper,overflow_yhat,overflow_yhat_lower,overflow_yhat_upper
331,2026-02-19 21:00:00,6.696714,1.802424,11.619308,139.707146,101.901821,177.656871,4.352476,-0.203400,8.953634,...,41.994893,18.867586,3.846503,34.279388,5.744107,0.634606,10.332182,11.145015,2.151968,19.514478
332,2026-02-19 22:00:00,6.121090,0.945304,10.982407,150.280560,115.100569,186.773367,3.820164,-1.089628,8.876808,...,38.589973,17.573136,2.665570,31.795491,5.644985,0.685674,10.533595,10.749878,2.870187,19.433805
333,2026-02-19 23:00:00,5.286725,0.190287,9.803927,139.332934,102.146741,176.226473,3.074107,-1.897070,7.819009,...,38.648552,16.934022,3.057174,32.153232,5.390424,0.502800,10.311826,10.425133,2.793916,18.719313
334,2026-02-20 00:00:00,4.413434,-0.472789,9.255871,103.442195,69.143827,141.911745,2.346290,-2.773706,7.528913,...,38.043533,17.108873,3.052264,32.388837,4.910608,-0.175624,10.142952,10.125728,2.354540,18.099791
335,2026-02-20 01:00:00,3.722666,-1.637739,8.385779,56.196857,17.703664,93.141863,1.851982,-3.068016,6.753954,...,37.470679,17.550123,3.339559,33.297021,4.254566,-0.708479,9.695353,9.853741,1.596554,18.026973

In [66]:
recent_df = df.tail(24)

In [67]:
targets = pred_df['target_name'].unique().tolist()
output_df = pd.DataFrame()
for target in targets:
    target_df = forecast_all_vars_with_future[forecast_all_vars_with_future['target_name'] == target][['ds', 'predictions', '0.2', '0.8']].rename(columns={'predictions': target+'_forecast', '0.2': target+'_forecast_lower', '0.8': target+'_forecast_upper'})
    # target_df = pred_df[pred_df['target_name'] == target][['ds', 'forecast_all_vars_with_future']].rename(columns={'forecast_all_vars_with_future': target+'_forecast'})
    target_df = target_df.merge(anomaly_detection_ranges_df[['ds', target+'_yhat', target+'_yhat_lower', target+'_yhat_upper']], on=['ds'], how='left')
    target_df[target+'_anomaly'] = ((target_df[target+'_forecast'] < target_df[target+'_yhat_lower']) | (target_df[target+'_forecast'] > target_df[target+'_yhat_upper'])).map({True: 'yes', False: 'no'})
    #assign a colour based on how the value compares to the yhat and the yhat_lower and yhat_upper. If it's an anomaly, colour is #D13438. If it's between yhat and yhat_upper, colour is #FFB900. If it's between yhat_lower and yhat, colour is #107C10. 
    target_df[target+'_colour'] = target_df.apply(lambda row: '#D13438' if row[target+'_anomaly'] == 'yes' else ('#FFB900' if row[target+'_forecast'] > row[target+'_yhat'] else '#107C10'), axis=1)
    if output_df.empty:
        output_df = target_df
    else:
        output_df = output_df.merge(target_df, on='ds', how='outer')

output_df = output_df.merge(recent_df.tail(24), on='ds', how='outer')


output_df.to_csv('ED_Hourly_Forecasts_Anomalies_v1.0.csv', index=False)

output_df.head(48)

,ds,INFLOW_STRETCHER_forecast,INFLOW_STRETCHER_forecast_lower,INFLOW_STRETCHER_forecast_upper,INFLOW_STRETCHER_yhat,INFLOW_STRETCHER_yhat_lower,INFLOW_STRETCHER_yhat_upper,INFLOW_STRETCHER_anomaly,INFLOW_STRETCHER_colour,Infl_Stretcher_cum_forecast,...,RAZ_IMCONS_MORE4H,RAZ_XRAY_MORE2H,RAZ_CT_MORE2H1,PSYCH1,PSYCH_WAITINGADM,total_tbs,vert_tbs,pod_tbs,overflow,id
0,2026-02-17 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,4.0,12.0,8.0,45.0,32.0,13.0,18.0,jgh
1,2026-02-17 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,12.0,9.0,51.0,34.0,17.0,21.0,jgh
2,2026-02-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,12.0,9.0,40.0,26.0,14.0,22.0,jgh
3,2026-02-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,2.0,11.0,8.0,34.0,24.0,10.0,18.0,jgh
4,2026-02-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,9.0,7.0,40.0,26.0,14.0,19.0,jgh
5,2026-02-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,6.0,2.0,9.0,8.0,42.0,35.0,7.0,11.0,jgh
6,2026-02-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,6.0,2.0,8.0,7.0,40.0,32.0,8.0,11.0,jgh
7,2026-02-17 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,2.0,8.0,7.0,33.0,23.0,10.0,14.0,jgh
8,2026-02-17 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,2.0,8.0,7.0,28.0,19.0,9.0,13.0,jgh
9,2026-02-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,2.0,9.0,7.0,25.0,20.0,5.0,9.0,jgh
10,2026-02-18 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,2.0,10.0,9.0,27.0,22.0,5.0,7.0,jgh
11,2026-02-18 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,1.0,10.0,9.0,22.0,22.0,0.0,7.0,jgh
12,2026-02-18 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,11.0,9.0,24.0,24.0,0.0,7.0,jgh
13,2026-02-18 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,2.0,11.0,9.0,18.0,18.0,0.0,7.0,jgh
14,2026-02-18 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,1.0,2.0,11.0,9.0,14.0,13.0,1.0,10.0,jgh
15,2026-02-18 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,11.0,9.0,7.0,6.0,1.0,10.0,jgh
16,2026-02-18 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,11.0,9.0,6.0,4.0,2.0,9.0,jgh
17,2026-02-18 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,11.0,9.0,12.0,8.0,4.0,9.0,jgh
18,2026-02-18 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,11.0,9.0,11.0,8.0,3.0,9.0,jgh
19,2026-02-18 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.0,3.0,11.0,9.0,9.0,8.0,1.0,12.0,jgh
20,2026-02-18 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,4.0,11.0,8.0,7.0,3.0,4.0,11.0,jgh
21,2026-02-18 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,3.0,13.0,9.0,18.0,10.0,8.0,13.0,jgh
22,2026-02-18 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,4.0,12.0,9.0,21.0,10.0,11.0,17.0,jgh
23,2026-02-18 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2.0,4.0,13.0,9.0,27.0,17.0,10.0,16.0,jgh
24,2026-02-18 15:00:00,10.429388,8.196268,12.763483,9.646735,4.776532,14.539569,no,#FFB900,89.773239,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2026-02-18 16:00:00,8.829931,6.502771,11.409429,8.837402,4.016320,13.376824,no,#107C10,98.516090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2026-02-18 17:00:00,7.921287,5.598527,10.441795,8.015976,3.037418,12.888856,no,#107C10,107.348495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2026-02-18 18:00:00,6.457362,4.281445,8.955507,7.401822,2.601092,12.266084,no,#107C10,114.477280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2026-02-18 19:00:00,6.159695,3.980616,8.684565,7.076386,2.146473,11.832677,no,#107C10,119.274124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2026-02-18 20:00:00,6.265591,4.037380,8.681942,6.905153,1.900658,12.000653,no,#107C10,125.651947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2026-02-18 21:00:00,5.578019,3.418053,7.964955,6.626715,1.705719,11.518458,no,#107C10,130.335205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2026-02-18 22:00:00,4.690378,2.831140,7.031200,6.054769,1.040691,10.766856,no,#107C10,136.179779,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2026-02-18 23:00:00,4.020902,2.345378,6.222665,5.224543,0.441921,10.257535,no,#107C10,141.633911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2026-02-19 00:00:00,3.408752,1.909602,5.399016,4.355933,-0.693936,9.374298,no,#107C10,146.748383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2026-02-19 01:00:00,2.860085,1.590516,4.606541,3.670480,-1.600233,8.456363,no,#107C10,4.213058,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2026-02-19 02:00:00,2.408392,1.402044,3.921186,3.232897,-1.732512,8.242197,no,#107C10,7.711315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2026-02-19 03:00:00,2.254302,1.281112,3.696706,2.960760,-1.766084,8.042802,no,#107C10,9.244553,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2026-02-19 04:00:00,2.276073,1.283342,3.630932,2.782302,-2.085866,7.519497,no,#107C10,10.320412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2026-02-19 05:00:00,2.397161,1.361097,3.865936,2.778933,-1.925326,7.319861,no,#107C10,12.260944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2026-02-19 06:00:00,2.867143,1.662458,4.504302,3.163639,-2.004028,7.800577,no,#107C10,14.011929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2026-02-19 07:00:00,4.096214,2.456752,6.176674,4.104177,-1.182208,8.967156,no,#107C10,17.613132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2026-02-19 08:00:00,6.019503,4.000190,8.363886,5.548676,0.809248,10.360394,no,#FFB900,22.194988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2026-02-19 09:00:00,7.899405,5.586479,10.425671,7.210100,2.384941,12.235724,no,#FFB900,30.239254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2026-02-19 10:00:00,9.492118,7.011077,12.090929,8.720465,3.978931,13.285190,no,#FFB900,39.811687,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2026-02-19 11:00:00,10.517438,7.890056,13.237495,9.818592,5.204792,14.306340,no,#FFB900,50.110558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2026-02-19 12:00:00,10.855824,8.224103,13.453146,10.423914,5.555607,15.645752,no,#FFB900,59.595211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2026-02-19 13:00:00,10.938976,8.240191,13.554160,10.572900,5.634159,16.003984,no,#FFB900,70.310318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2026-02-19 14:00:00,10.587390,7.950444,13.369753,10.322732,5.998040,14.805996,no,#FFB900,81.333778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
dropbox_app_key = os.environ.get("DROPBOX_APP_KEY")
dropbox_app_secret = os.environ.get("DROPBOX_APP_SECRET")
dropbox_refresh_token = os.environ.get("DROPBOX_REFRESH_TOKEN")

# exchange the authorization code for an access token:
token_url = "https://api.dropboxapi.com/oauth2/token"
params = {
    "grant_type": "refresh_token",
    "refresh_token": dropbox_refresh_token,
    "client_id": dropbox_app_key,
    "client_secret": dropbox_app_secret
}
r = requests.post(token_url, data=params)

dropbox_access_token = r.json()['access_token']

dbx = dropbox.Dropbox(dropbox_access_token)

upload(dbx, 'chronos_forecast.csv', '', '',
            'chronos_forecast.csv', overwrite=True)
upload(dbx, 'ED_Hourly_Forecasts_Anomalies_v1.0.csv', '', '',
            'ED_Hourly_Forecasts_Anomalies_v1.0.csv', overwrite=True)
upload(dbx, 'forecast_variable_effects.csv', '', '',
            'forecast_variable_effects.csv', overwrite=True)

uploaded as b'chronos_forecast.csv'
uploaded as b'ED_Hourly_Forecasts_Anomalies_v1.0.csv'
uploaded as b'forecast_variable_effects.csv'

FileMetadata(client_modified=datetime.datetime(2026, 2, 16, 20, 46, 58), content_hash='e67091084ccd8e1bdd5edfb96548e0e89d3c74f2d3983d49269226560633e641', export_info=NOT_SET, file_lock_info=NOT_SET, has_explicit_shared_members=NOT_SET, id='id:oNSmVCFixyQAAAAAAABxQQ', is_downloadable=True, media_info=NOT_SET, name='forecast_variable_effects.csv', parent_shared_folder_id=NOT_SET, path_display='/forecast_variable_effects.csv', path_lower='/forecast_variable_effects.csv', preview_url=NOT_SET, property_groups=NOT_SET, rev='64b1e3d8852917a19c0a3', server_modified=datetime.datetime(2026, 2, 18, 19, 31, 53), sharing_info=NOT_SET, size=2710, symlink_info=NOT_SET)