In [1]:
import base64
import json
import os
import requests
import pandas as pd
from prophet import Prophet
from tqdm import tqdm
import matplotlib.pyplot as plt
from dotenv import load_dotenv
from utils import upload
import dropbox
import time
import datetime
import math

In [ ]:
allData = pd.read_csv(
    'https://www.dropbox.com/scl/fi/ksf0nbmmiort5khbrgr61/allData.csv?rlkey=75e735fjk4ifttjt553ukxt3k&dl=1')
allData.ds = pd.to_datetime(allData.ds)

df = allData.copy()
df.ds = pd.to_datetime(df.ds)

df['total_tbs'] = df[['TRG_HALLWAY_TBS',
                      'POD_GREEN_TBS',
                      'POD_YELLOW_TBS',
                      'POD_ORANGE_TBS',
                      'RAZ_TBS',
                      'AMBVERTTBS',
                      'QTrack_TBS',
                      'Garage_TBS']].sum(axis=1)
df['vert_tbs'] = df[[
    'RAZ_TBS',
    'AMBVERTTBS',
    'QTrack_TBS',
    'Garage_TBS']].sum(axis=1)
df['pod_tbs'] = df[['TRG_HALLWAY_TBS',
                    'POD_GREEN_TBS',
                    'POD_YELLOW_TBS',
                    'POD_ORANGE_TBS',
                    ]].sum(axis=1)
df.tail()

tbs_columns = ['total_tbs', 'vert_tbs', 'pod_tbs']

output = pd.DataFrame()
FIRST_RUN = True

for column in tqdm(tbs_columns):
    if column in ['ds']:
        continue
    try:
        print('working on '+column)

        m = Prophet(interval_width=0.95)
        m.fit(df[['ds', column]].rename(columns={column: 'y'}))
        future = m.make_future_dataframe(periods=24*1, freq='h')
        # forecast = m.predict(future.tail(24*14))
        forecast = m.predict(future)
        if FIRST_RUN:
            output['ds'] = forecast['ds']

        for forecast_column in ['yhat', 'yhat_lower', 'yhat_upper']:
            kwargs = {column+'_'+forecast_column: forecast[forecast_column]}
            output = output.assign(**kwargs)
        FIRST_RUN = False
    except:
        print(column + ' failed')

output

  0%|          | 0/3 [00:00<?, ?it/s]

working on total_tbs

21:28:07 - cmdstanpy - INFO - Chain [1] start processing
21:28:44 - cmdstanpy - INFO - Chain [1] done processing
 33%|███▎      | 1/3 [00:47<01:35, 47.51s/it]

working on vert_tbs

21:28:54 - cmdstanpy - INFO - Chain [1] start processing
21:29:23 - cmdstanpy - INFO - Chain [1] done processing
 67%|██████▋   | 2/3 [01:25<00:42, 42.11s/it]

working on pod_tbs

21:29:33 - cmdstanpy - INFO - Chain [1] start processing
21:29:43 - cmdstanpy - INFO - Chain [1] done processing
100%|██████████| 3/3 [01:45<00:00, 35.15s/it]

,ds,total_tbs_yhat,total_tbs_yhat_lower,total_tbs_yhat_upper,vert_tbs_yhat,vert_tbs_yhat_lower,vert_tbs_yhat_upper,pod_tbs_yhat,pod_tbs_yhat_lower,pod_tbs_yhat_upper
0,2021-01-01 01:00:00,2.856202,-13.380996,19.953043,1.080689,-12.995278,16.006731,1.832842,-3.132387,6.693993
1,2021-01-01 02:00:00,1.811500,-14.669720,18.204236,0.742780,-13.510002,15.507534,1.125800,-4.032666,6.215540
2,2021-01-01 03:00:00,-0.539329,-16.469852,15.580435,-0.984073,-15.715458,13.989769,0.501574,-4.411373,5.406146
3,2021-01-01 04:00:00,-3.695369,-19.464995,12.884029,-3.693186,-18.748017,11.141964,0.054402,-5.237065,5.245651
4,2021-01-01 05:00:00,-6.331978,-22.736101,10.820018,-6.090968,-20.053432,8.590929,-0.184648,-5.296954,4.827438
...,...,...,...,...,...,...,...,...,...,...
42513,2025-11-10 17:00:00,34.455642,17.798174,51.322668,27.677970,13.111429,42.647904,6.742026,2.101290,11.628200
42514,2025-11-10 18:00:00,32.121721,14.298359,49.758177,25.775958,11.147204,39.885130,6.310126,1.429752,11.359592
42515,2025-11-10 19:00:00,30.005727,12.941950,45.946460,24.018317,8.946206,39.289960,5.951769,0.685555,10.802216
42516,2025-11-10 20:00:00,28.305913,12.058935,44.730403,22.502924,7.935569,37.079321,5.767358,1.102409,10.658388
42517,2025-11-10 21:00:00,26.836333,11.444452,42.966839,21.086029,6.148143,37.422478,5.714706,0.255345,10.932779

In [5]:
output.tail(24)

,ds,total_tbs_yhat,total_tbs_yhat_lower,total_tbs_yhat_upper,vert_tbs_yhat,vert_tbs_yhat_lower,vert_tbs_yhat_upper,pod_tbs_yhat,pod_tbs_yhat_lower,pod_tbs_yhat_upper
42494,2025-11-09 22:00:00,20.675281,4.206508,37.292741,16.151971,2.862440,30.148986,4.487004,-0.150238,10.015694
42495,2025-11-09 23:00:00,19.995447,3.925151,35.752768,15.660284,1.795214,29.715568,4.298883,-0.404011,9.227508
42496,2025-11-10 00:00:00,19.877016,3.930949,35.882865,15.948972,0.287032,30.352157,3.891774,-1.034308,8.735718
42497,2025-11-10 01:00:00,19.829776,3.832604,36.317775,16.483732,1.945740,31.350312,3.309767,-1.366218,8.147255
42498,2025-11-10 02:00:00,18.975387,2.207701,34.941121,16.264000,1.821720,30.943538,2.675095,-2.092197,7.564169
42499,2025-11-10 03:00:00,16.808120,0.966377,33.289208,14.648397,0.457576,28.005928,2.123416,-2.819490,6.648946
42500,2025-11-10 04:00:00,13.827259,-2.473615,29.883579,12.042458,-1.872726,27.317021,1.748481,-3.015086,6.569991
42501,2025-11-10 05:00:00,11.355987,-4.502713,27.091794,9.738783,-4.853913,24.873755,1.580892,-3.742005,6.358743
42502,2025-11-10 06:00:00,10.601409,-5.569959,27.348745,8.963779,-7.202890,23.625218,1.601366,-3.345766,6.567701
42503,2025-11-10 07:00:00,11.763688,-3.441010,27.213195,9.954247,-3.928156,25.162332,1.773273,-3.113651,6.943351
42504,2025-11-10 08:00:00,14.006926,-1.614981,29.489855,11.895491,-3.260965,25.689325,2.075391,-2.975811,7.207642
42505,2025-11-10 09:00:00,16.316298,0.451872,33.129636,13.762035,-0.752810,29.713259,2.518331,-2.646993,7.667295
42506,2025-11-10 10:00:00,18.429100,2.244761,34.922880,15.259460,-0.252437,30.801545,3.133765,-1.729205,8.149457
42507,2025-11-10 11:00:00,20.955775,4.827879,37.849268,16.982902,1.241998,31.313427,3.936996,-1.088871,8.624263
42508,2025-11-10 12:00:00,24.583157,8.762587,41.052606,19.666315,3.660255,34.603639,4.880934,0.084822,9.643244
42509,2025-11-10 13:00:00,29.134719,13.729544,47.585089,23.265207,8.945632,37.768369,5.833597,1.008098,10.910869
42510,2025-11-10 14:00:00,33.403847,18.361140,49.785733,26.761615,12.481840,40.399139,6.606363,1.317876,11.779375
42511,2025-11-10 15:00:00,35.945481,18.613782,52.636349,28.878527,13.616273,44.264766,7.031172,2.045461,11.782059
42512,2025-11-10 16:00:00,36.117325,19.885642,52.879228,29.034262,16.119189,43.155233,7.047367,2.014023,12.137635
42513,2025-11-10 17:00:00,34.455642,17.798174,51.322668,27.677970,13.111429,42.647904,6.742026,2.101290,11.628200
42514,2025-11-10 18:00:00,32.121721,14.298359,49.758177,25.775958,11.147204,39.885130,6.310126,1.429752,11.359592
42515,2025-11-10 19:00:00,30.005727,12.941950,45.946460,24.018317,8.946206,39.289960,5.951769,0.685555,10.802216
42516,2025-11-10 20:00:00,28.305913,12.058935,44.730403,22.502924,7.935569,37.079321,5.767358,1.102409,10.658388
42517,2025-11-10 21:00:00,26.836333,11.444452,42.966839,21.086029,6.148143,37.422478,5.714706,0.255345,10.932779

In [2]:
allData = pd.read_csv(
    'https://www.dropbox.com/scl/fi/s83jig4zews1xz7vhezui/allDataWithCalculatedColumns.csv?rlkey=9mm4zwaugxyj2r4ooyd39y4nl&dl=1')

allData.ds = pd.to_datetime(allData.ds)
print(allData.tail(1))
print('length of allData: '+str(len(allData)))

df = allData.copy()
df.isna().sum().sum()
df.ds = pd.to_datetime(df.ds)

output = pd.DataFrame()
FIRST_RUN = True

tbs_columns = ['total_tbs', 'vert_tbs', 'pod_tbs']

# for column in tqdm(df.columns.to_list()):
for column in tqdm(tbs_columns):

    if column in ['ds']:
        continue
    try:
        print('working on '+column)

        m = Prophet(interval_width=0.95)
        m.fit(df[['ds', column]].rename(columns={column: 'y'}))
        future = m.make_future_dataframe(periods=24*1, freq='h')
        forecast = m.predict(future.tail(24*14))
        if FIRST_RUN:
            output['ds'] = forecast['ds']

        for forecast_column in ['yhat', 'yhat_lower', 'yhat_upper']:
            kwargs = {column+'_'+forecast_column: forecast[forecast_column]}
            output = output.assign(**kwargs)
        FIRST_RUN = False
    except:
        print(column + ' failed')

output.tail(24)

                       ds  INFLOW_STRETCHER  Infl_Stretcher_cum  \
42493 2025-11-09 21:00:00                 4                  98

       INFLOW_AMBULATORY  Infl_Ambulatory_cum  Inflow_Total  Inflow_Cum_Total  \
42493                  2                   78             6               176

       INFLOW_AMBULANCES  Infl_Ambulances_cum  FLS  ...  RAZ_CONS_MORE2H  \
42493                  3                   31    1  ...                3

       RAZ_IMCONS_MORE4H  RAZ_XRAY_MORE2H  RAZ_CT_MORE2H1  PSYCH1  \
42493                  1                2               1      13

       PSYCH_WAITINGADM  total_tbs  vert_tbs  pod_tbs  overflow
42493                11         10         9        1         5

[1 rows x 50 columns]
length of allData: 42494

  0%|          | 0/3 [00:00<?, ?it/s]

working on total_tbs

21:36:30 - cmdstanpy - INFO - Chain [1] start processing
21:37:09 - cmdstanpy - INFO - Chain [1] done processing
/Users/devinhopkins/anaconda3/envs/ed-flow-2023/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(
 33%|███▎      | 1/3 [00:42<01:24, 42.04s/it]

working on vert_tbs

21:37:12 - cmdstanpy - INFO - Chain [1] start processing
21:37:39 - cmdstanpy - INFO - Chain [1] done processing
/Users/devinhopkins/anaconda3/envs/ed-flow-2023/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(
 67%|██████▋   | 2/3 [01:12<00:34, 34.97s/it]

working on pod_tbs

21:37:42 - cmdstanpy - INFO - Chain [1] start processing
21:37:52 - cmdstanpy - INFO - Chain [1] done processing
/Users/devinhopkins/anaconda3/envs/ed-flow-2023/lib/python3.10/site-packages/prophet/forecaster.py:1854: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(
100%|██████████| 3/3 [01:25<00:00, 28.40s/it]

In [3]:
output.tail(24)

,ds,total_tbs_yhat,total_tbs_yhat_lower,total_tbs_yhat_upper,vert_tbs_yhat,vert_tbs_yhat_lower,vert_tbs_yhat_upper,pod_tbs_yhat,pod_tbs_yhat_lower,pod_tbs_yhat_upper
312,2025-11-09 22:00:00,20.675281,5.694935,36.741202,16.151971,2.196920,30.547510,4.487004,-0.377956,9.514013
313,2025-11-09 23:00:00,19.995447,3.517759,36.092591,15.660284,0.699998,29.884874,4.298883,-1.182601,9.082616
314,2025-11-10 00:00:00,19.877016,4.191148,36.838838,15.948972,1.490301,30.340017,3.891774,-1.248739,8.820259
315,2025-11-10 01:00:00,19.829776,3.082774,36.772520,16.483732,2.968293,31.706076,3.309767,-2.008425,8.610816
316,2025-11-10 02:00:00,18.975387,3.065281,35.407836,16.264000,2.058424,31.611898,2.675095,-2.052674,7.573164
317,2025-11-10 03:00:00,16.808120,0.306663,33.755919,14.648397,-0.385319,30.103047,2.123416,-2.915683,7.151386
318,2025-11-10 04:00:00,13.827259,-2.432392,29.860668,12.042458,-2.448142,26.352533,1.748481,-3.199183,6.325131
319,2025-11-10 05:00:00,11.355987,-5.447603,27.363160,9.738783,-4.945499,24.478209,1.580892,-3.482050,6.786753
320,2025-11-10 06:00:00,10.601409,-5.522095,26.876469,8.963779,-5.754066,24.080941,1.601366,-3.270475,6.615456
321,2025-11-10 07:00:00,11.763688,-6.127208,27.901022,9.954247,-4.850351,24.292572,1.773273,-3.367217,6.578214
322,2025-11-10 08:00:00,14.006926,-2.437658,30.673745,11.895491,-1.608842,26.794716,2.075391,-2.841247,7.013376
323,2025-11-10 09:00:00,16.316298,-0.326356,33.653184,13.762035,-1.825860,27.734599,2.518331,-2.458777,7.611381
324,2025-11-10 10:00:00,18.429100,1.401184,34.006384,15.259460,1.558014,29.389686,3.133765,-2.202220,8.539989
325,2025-11-10 11:00:00,20.955775,4.742436,37.216640,16.982902,2.744105,30.468680,3.936996,-1.093245,8.668277
326,2025-11-10 12:00:00,24.583157,8.817434,41.322945,19.666315,5.242247,34.271285,4.880934,0.062179,10.049732
327,2025-11-10 13:00:00,29.134719,11.781167,45.473520,23.265207,8.682950,37.954824,5.833597,0.874998,10.571135
328,2025-11-10 14:00:00,33.403847,17.312062,50.610557,26.761615,12.948655,40.971090,6.606363,1.183553,11.133053
329,2025-11-10 15:00:00,35.945481,20.316021,52.561336,28.878527,13.326676,44.004916,7.031172,2.307916,11.755035
330,2025-11-10 16:00:00,36.117325,20.227602,53.058489,29.034262,13.686746,44.622374,7.047367,1.982731,12.205617
331,2025-11-10 17:00:00,34.455642,18.545885,51.525133,27.677970,12.897878,42.596922,6.742026,1.579179,11.922974
332,2025-11-10 18:00:00,32.121721,16.200115,48.408272,25.775958,10.676743,41.374861,6.310126,1.383920,11.295491
333,2025-11-10 19:00:00,30.005727,13.530417,45.545909,24.018317,9.644833,38.296174,5.951769,1.036614,10.830939
334,2025-11-10 20:00:00,28.305913,11.510572,44.391011,22.502924,8.509319,36.563077,5.767358,0.664090,10.853059
335,2025-11-10 21:00:00,26.836333,11.161738,43.362124,21.086029,6.430508,35.484394,5.714706,0.505864,10.518952

In [4]:
current_hour = pd.Timestamp.now().floor('H')
timestamp_str = current_hour.strftime('%Y-%m-%d-%H')
timestamp_str

/var/folders/fy/5x01qzld283cfjx15gg5tsp40000gn/T/ipykernel_19646/2824258583.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  current_hour = pd.Timestamp.now().floor('H')

'2025-11-09-21'