In [5]:
import pandas as pd
import datetime

In [12]:
output = pd.DataFrame()
df = pd.read_csv('2021q1.csv')
df["ds"] = pd.to_datetime(
    df["dateflg"] + " " + (df["timeflg"] - 1).astype(str) + ":00", format='mixed') + datetime.timedelta(hours=1)
df = df.set_index('ds').reset_index().drop(['dateflg','timeflg'], axis=1)
output = pd.concat([output, df], ignore_index=True)
output

,ds,INFLOW_STRETCHER,Infl_Stretcher_cum,INFLOW_AMBULATORY,Infl_Ambulatory_cum,Inflow_Total,Inflow_Cum_Total,INFLOW_AMBULANCES,Infl_Ambulances_cum,FLS,...,AMBVERT1,AMBVERTTBS,QTrack_TBS,Garage_TBS,RAZ_CONS_MORE2H,RAZ_IMCONS_MORE4H,RAZ_XRAY_MORE2H,RAZ_CT_MORE2H1,PSYCH1,PSYCH_WAITINGADM
0,2021-04-02 00:00:00,5,93,0,109,5,202,1,36,0,...,3,3,NaN,NaN,3,0,0,2,11,8
1,2021-04-01 23:00:00,4,88,0,109,4,197,2,35,0,...,7,4,NaN,NaN,3,0,0,4,11,8
2,2021-04-01 22:00:00,3,84,6,109,9,193,2,33,0,...,12,9,NaN,NaN,4,0,0,3,10,7
3,2021-04-01 21:00:00,2,81,8,103,10,184,1,31,0,...,11,7,NaN,NaN,3,0,0,1,9,7
4,2021-04-01 20:00:00,6,79,8,95,14,174,3,30,0,...,9,6,NaN,NaN,2,0,0,1,10,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2178,2021-01-01 05:00:00,1,5,1,4,2,9,1,3,0,...,1,1,NaN,NaN,0,0,0,0,4,3
2179,2021-01-01 04:00:00,1,4,0,3,1,7,1,2,0,...,2,0,NaN,NaN,0,0,0,0,4,3
2180,2021-01-01 03:00:00,0,3,1,3,1,6,0,1,0,...,2,1,NaN,NaN,0,0,0,0,3,3
2181,2021-01-01 02:00:00,2,3,1,2,3,5,1,1,0,...,2,2,NaN,NaN,1,1,0,0,3,3
2182,2021-01-01 01:00:00,1,1,1,1,2,2,0,0,0,...,0,0,NaN,NaN,1,0,0,0,3,3

In [25]:
output = pd.DataFrame()
for file in ['2021q1.csv', '2021q2.csv', '2021q3.csv', '2021q4.csv', '2022q1.csv', '2022q2.csv', '2022q3.csv', '2022q4.csv']:
    df = pd.read_csv(file)
    df["ds"] = pd.to_datetime(
        df["dateflg"] + " " + (df["timeflg"] - 1).astype(str) + ":00", format='mixed') + datetime.timedelta(hours=1)
    df = df.set_index('ds').reset_index().drop(['dateflg','timeflg'], axis=1)
    output = pd.concat([output, df], ignore_index=True)
df = pd.read_csv('2023data.csv')
df.ds = pd.to_datetime(df.ds)
output = pd.concat([output, df], ignore_index=True)
output = output.drop_duplicates(keep='first').sort_values(by='ds', ascending=True)
output

,ds,INFLOW_STRETCHER,Infl_Stretcher_cum,INFLOW_AMBULATORY,Infl_Ambulatory_cum,Inflow_Total,Inflow_Cum_Total,INFLOW_AMBULANCES,Infl_Ambulances_cum,FLS,...,AMBVERT1,AMBVERTTBS,QTrack_TBS,Garage_TBS,RAZ_CONS_MORE2H,RAZ_IMCONS_MORE4H,RAZ_XRAY_MORE2H,RAZ_CT_MORE2H1,PSYCH1,PSYCH_WAITINGADM
2182,2021-01-01 01:00:00,1,1,1,1,2,2,0,0,0,...,0,0,NaN,NaN,1,0,0,0,3,3
2181,2021-01-01 02:00:00,2,3,1,2,3,5,1,1,0,...,2,2,NaN,NaN,1,1,0,0,3,3
2180,2021-01-01 03:00:00,0,3,1,3,1,6,0,1,0,...,2,1,NaN,NaN,0,0,0,0,3,3
2179,2021-01-01 04:00:00,1,4,0,3,1,7,1,2,0,...,2,0,NaN,NaN,0,0,0,0,4,3
2178,2021-01-01 05:00:00,1,5,1,4,2,9,1,3,0,...,1,1,NaN,NaN,0,0,0,0,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17678,2023-11-14 10:00:00,9,48,5,23,14,71,1,11,0,...,14,10,2.0,0.0,14,0,0,4,11,6
17677,2023-11-14 11:00:00,12,60,10,33,22,93,5,16,0,...,17,12,5.0,0.0,16,0,0,7,10,6
17676,2023-11-14 12:00:00,16,76,9,42,25,118,3,19,0,...,21,16,7.0,0.0,12,0,0,4,10,5
17675,2023-11-14 13:00:00,14,90,7,49,21,139,1,20,0,...,28,24,5.0,0.0,12,0,0,5,10,5
17674,2023-11-14 14:00:00,8,98,7,56,15,154,2,22,0,...,25,21,6.0,0.0,15,0,0,4,9,4

In [26]:
output.to_csv('allData.csv', index=False)