In [4]:
%pip install 'chronos-forecasting>=2.0' 'pandas[pyarrow]' 'matplotlib' 'python-dotenv' --quiet

In [5]:
from dotenv import load_dotenv

load_dotenv('../.env')

False

In [ ]:
import os

# Use only 1 GPU if available
os.environ["CUDA_VISIBLE_DEVICES"] = "0"
# os.environ["HF_TOKEN"] =  ...

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from chronos import BaseChronosPipeline, Chronos2Pipeline
from IPython.display import clear_output

# Load the Chronos-2 pipeline
# GPU recommended for faster inference, but CPU is also supported
pipeline: Chronos2Pipeline = BaseChronosPipeline.from_pretrained(
    "amazon/chronos-2", 
    # device_map="cuda"
        device_map="cpu"
        )

RuntimeError: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx

In [ ]:
df = pd.read_csv('https://www.dropbox.com/scl/fi/s83jig4zews1xz7vhezui/allDataWithCalculatedColumns.csv?rlkey=9mm4zwaugxyj2r4ooyd39y4nl&raw=1')
df.ds = pd.to_datetime(df.ds, errors="coerce")
df['id']='jgh'
df.tail()

,ds,INFLOW_STRETCHER,Infl_Stretcher_cum,INFLOW_AMBULATORY,Infl_Ambulatory_cum,Inflow_Total,Inflow_Cum_Total,INFLOW_AMBULANCES,Infl_Ambulances_cum,FLS,...,RAZ_IMCONS_MORE4H,RAZ_XRAY_MORE2H,RAZ_CT_MORE2H1,PSYCH1,PSYCH_WAITINGADM,total_tbs,vert_tbs,pod_tbs,overflow,id
42861,2025-11-25 06:00:00,5,20,1,7,6,27,1,3,0,...,1,0,0,14,9,14,10,4,10,jgh
42862,2025-11-25 07:00:00,1,21,1,8,2,29,0,3,0,...,1,0,0,14,9,13,9,4,10,jgh
42863,2025-11-25 08:00:00,4,25,2,10,6,35,2,5,0,...,1,0,0,15,9,12,10,2,9,jgh
42864,2025-11-25 09:00:00,11,36,9,19,20,55,0,5,0,...,1,0,0,15,9,11,10,1,9,jgh
42865,2025-11-25 10:00:00,7,43,8,27,15,70,3,8,0,...,1,0,0,16,9,15,12,3,9,jgh

In [8]:
import pandas as pd
from pandas.tseries.frequencies import to_offset
from IPython.display import clear_output

ID_COL = "id"
TS_COL = "ds"
TARGETS = ['total_tbs']

df = df.copy()
df[TS_COL] = pd.to_datetime(df[TS_COL], errors="coerce")
df = df.dropna(subset=[TS_COL])

# Snap to exact hours (lowercase 'h' to avoid FutureWarning)
df[TS_COL] = df[TS_COL].dt.floor("h")

# Sort + dedupe
df = df.sort_values([ID_COL, TS_COL]).drop_duplicates([ID_COL, TS_COL], keep="last")

def regularize_hourly(g: pd.DataFrame) -> pd.DataFrame:
    """
    Reindex each group's timestamps to strict hourly and fill gaps.
    Works whether the grouping column is present or omitted (include_groups=False).
    """
    # The group key (id) is available as g.name; if ID_COL exists, prefer it.
    sid = g[ID_COL].iloc[0] if ID_COL in g.columns else g.name

    g = g.sort_values(TS_COL)
    full_idx = pd.date_range(g[TS_COL].min(), g[TS_COL].max(), freq="h")
    g = g.set_index(TS_COL).reindex(full_idx)
    g.index.name = TS_COL

    # restore id (constant for the whole group)
    g[ID_COL] = sid

    # numeric + fill for targets
    for col in TARGETS:
        if col in g.columns:
            g[col] = pd.to_numeric(g[col], errors="coerce").ffill().bfill()
    return g.reset_index()

# Call apply with include_groups=False if supported; else fall back
gb = df.groupby(ID_COL, group_keys=False)
try:
    df = gb.apply(regularize_hourly, include_groups=False)
except TypeError:
    # older pandas without include_groups
    df = gb.apply(regularize_hourly)

# Assert truly hourly (accept 'h' and 'H')
g = df[df[ID_COL] == "jgh"].sort_values(TS_COL)
freq = pd.infer_freq(g[TS_COL])
if not freq:
    raise ValueError("No inferable frequency after regularization.")
if to_offset(freq).name.lower() != "h":
    # extra check independent of infer_freq
    diffs = g[TS_COL].diff().dropna()
    bad = g.loc[diffs != pd.Timedelta(hours=1), TS_COL].head(10).tolist()
    raise ValueError(f"Non-1h gaps remain around: {bad}")

In [9]:
# Predict
pred_df = pipeline.predict_df(
    df,
    prediction_length=24,
    quantile_levels=[0.1, 0.5, 0.9],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)
pred_df

,id,ds,target_name,predictions,0.1,0.5,0.9
0,jgh,2025-11-25 11:00:00,total_tbs,19.753437,15.721951,19.753437,23.749315
1,jgh,2025-11-25 12:00:00,total_tbs,25.029087,18.912363,25.029087,31.435581
2,jgh,2025-11-25 13:00:00,total_tbs,32.323257,23.889149,32.323257,40.106224
3,jgh,2025-11-25 14:00:00,total_tbs,35.319305,25.685329,35.319305,44.433418
4,jgh,2025-11-25 15:00:00,total_tbs,38.139164,27.355043,38.139164,47.595650
5,jgh,2025-11-25 16:00:00,total_tbs,41.407425,29.648672,41.407425,51.472557
6,jgh,2025-11-25 17:00:00,total_tbs,38.304260,25.579184,38.304260,49.484268
7,jgh,2025-11-25 18:00:00,total_tbs,35.639309,23.134516,35.639309,48.234520
8,jgh,2025-11-25 19:00:00,total_tbs,33.396877,21.155796,33.396877,45.446354
9,jgh,2025-11-25 20:00:00,total_tbs,30.512127,18.702192,30.512127,43.052414
10,jgh,2025-11-25 21:00:00,total_tbs,28.452940,16.801353,28.452940,40.912033
11,jgh,2025-11-25 22:00:00,total_tbs,25.760960,14.880566,25.760960,38.078781
12,jgh,2025-11-25 23:00:00,total_tbs,23.368204,13.578991,23.368204,35.170021
13,jgh,2025-11-26 00:00:00,total_tbs,23.435823,13.552259,23.435823,34.930840
14,jgh,2025-11-26 01:00:00,total_tbs,23.101324,13.808272,23.101324,34.092354
15,jgh,2025-11-26 02:00:00,total_tbs,21.511028,12.838673,21.511028,32.171532
16,jgh,2025-11-26 03:00:00,total_tbs,18.925058,10.411164,18.925058,29.014940
17,jgh,2025-11-26 04:00:00,total_tbs,16.575449,8.644957,16.575449,26.587191
18,jgh,2025-11-26 05:00:00,total_tbs,14.149110,6.568707,14.149110,23.748980
19,jgh,2025-11-26 06:00:00,total_tbs,13.121649,6.118155,13.121649,22.243893
20,jgh,2025-11-26 07:00:00,total_tbs,13.836173,6.716290,13.836173,23.146902
21,jgh,2025-11-26 08:00:00,total_tbs,18.238997,9.811564,18.238997,28.383160
22,jgh,2025-11-26 09:00:00,total_tbs,14.993173,7.165451,14.993173,24.500605
23,jgh,2025-11-26 10:00:00,total_tbs,17.566792,8.987195,17.566792,27.546638

In [12]:
#lelt's perform cross-validation to evaluate our model's performance
#start with df.ds ending on 2025-01-01 08:00:00 and predict the next 8 hours
#then compare with actuals
cutoff_date = pd.Timestamp("2025-01-01 08:00:00")
history_df = df[df[TS_COL] <= cutoff_date]
forecast_df = pipeline.predict_df(
    history_df,
    prediction_length=8,
    quantile_levels=[0.5],
    id_column=ID_COL,
    timestamp_column=TS_COL,
    target=TARGETS,
)
# Merge forecasts with actuals
actuals_df = df[(df[TS_COL] > cutoff_date) & (df[TS_COL] <= cutoff_date + pd.Timedelta(hours=8))]
merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
# Calculate RMSE for the predictions
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(
    merged_df['total_tbs'],
    merged_df['predictions']
)
print(f"RMSE for the 8-hour forecast: {rmse}")

RMSE for the 8-hour forecast: 37.92843462412088

In [33]:
#now use tqdm to iterate through a new forecast every following day starting at 2025-01-01 always at 8am and average out the RMSEs
from tqdm.notebook import tqdm
rmse_list = []
start_date = pd.Timestamp("2025-01-01 16:00:00")
end_date = df[TS_COL].max() - pd.Timedelta(hours=8)
# end_date = pd.Timestamp("2025-01-05 08:00:00")
for _ in tqdm(range((end_date - start_date).days)):
    history_df = df[df[TS_COL] <= start_date]
    # print(history_df.ds.max())
    forecast_df = pipeline.predict_df(
        history_df,
        prediction_length=8,
        quantile_levels=[0.5],
        id_column=ID_COL,
        timestamp_column=TS_COL,
        target=TARGETS,
    )
    actuals_df = df[(df[TS_COL] > start_date) & (df[TS_COL] <= start_date + pd.Timedelta(hours=8))]
    merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
    rmse = mean_squared_error(
        merged_df['total_tbs'],
        merged_df['predictions']
    )
    rmse_list.append(rmse)
    print(rmse)
    start_date += pd.Timedelta(days=1)
average_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE over the period: {average_rmse}")

  0%|          | 0/316 [00:00<?, ?it/s]

73.4963992215985
42.994789491468055
327.08347856883347
60.68348983573014
18.60393970670475
146.21347762184814
16.335154826307644
34.34325724865221
121.41309804913408
11.840215114093553
42.619944982237485
50.9739136718963
55.21406163546408
117.35878362394487
24.68718893283858
37.3123610247676
117.84111315494829
62.31707148425312
19.56962495198877
133.80616573396856
63.62354144688152
62.59166608917076
49.357523911707176
15.663567579581468
69.6897081606553
51.52362971958928
93.5806795242197
35.48292807676171
118.57451550070505
13.71307589887681
208.52038020967575
3.1508102989082545
97.09296838291277
9.88177953711147
55.16259507627001
11.193362669328508
9.743788514928838
12.588659648528392
170.71569699996917
15.137724285215427
33.170903200249995
20.956503264008916
22.325393279591026
181.86535522524946
15.672107035089539
130.45207771543164
186.25399282183582
6.42702484785309
7.211903344056054
16.164402460513884
27.86681043197632
81.18996351684928
58.112869771365695
20.36766856916529
27.234619729407314
15.599138791417317
22.52403117193444
14.65292882992344
53.8771039565454
113.9443516714241
172.05460203155883
42.42762226196055
106.05025939052939
70.39696248585915
37.56912708221989
8.662556627209597
67.52548442560601
5.25588696382556
26.027307591982662
25.457190873043146
22.0847501412145
31.73852620459047
51.33609270168063
27.362183610466673
18.349551790720852
43.63748289615887
4.246670789627842
5.924085391224253
25.87610592607109
29.22155566408992
79.27900678977767
24.921885875995713
59.08933943026159
222.70714320630486
14.655162428299377
30.850551758103506
169.09617237806924
14.851600039169398
10.277308897951116
68.42172478431576
48.48010654668178
51.369853892646915
16.410382378184977
51.39988423933437
107.92598996612742
16.661651090654686
30.446312151437724
48.18903533474713
18.10568940631788
15.519684539080117
49.79826813336956
18.896887012202114
11.110837664985297
37.002823411131885
3.2824917674424796
36.98593959239952
15.505456929197862
19.52308771941898
12.938732621213148
61.791133691270375
24.653321999466243
255.0761369987572
26.035020893099045
40.85668582492872
72.29496809446755
81.52910447176828
19.12130218774837
19.186955700716226
11.578524084827222
21.75291114775837
24.33717201565969
19.294727322484505
152.0584842697408
55.38127646503017
65.39714029382412
115.18023820002429
19.351628399262154
10.944655239609801
186.31424326345586
30.36629515204777
29.586404841595936
54.49273777397275
78.24279573421109
3.0906428441753633
18.554677771237493
42.01918678137099
2.413485189134917
35.64029794228827
76.03929807416262
4.080417068902989
19.80517319750561
31.80427506160254
25.57375999655187
49.59532737224845
18.63282254253727
13.151355463070558
71.67758509895975
21.479890845299906
99.26204287502196
36.96475089976957
38.682196839432436
140.0107527863006
49.21722885573217
55.5918977669844
14.688535351011978
14.132535330333212
46.470654709646624
9.93953932063323
126.08413456130575
15.67370704077075
16.49177363577587
108.9394052005232
19.23135089623247
188.03957132969663
26.45572386022377
66.75422332259905
21.72148185152855
33.0272577750452
64.51224135404391
55.29313652110022
15.183039767059654
51.22703503173716
52.08560234316201
46.16095995692831
16.26674881961162
11.707470879784978
47.067367689428465
63.91896207543323
69.86809378782254
64.16942859204755
152.5083328830956
49.30743018036992
91.22035197532114
67.2754104649348
19.785008230328458
53.82233118634258
38.33851181575619
21.34310948774737
59.770083628657176
100.90733012832243
19.64061249205679
59.44430122262338
41.43026258318923
6.493170160380487
106.4030905543732
20.117065287825426
27.728600939693933
37.63386296124736
100.69546857712612
37.51212026768644
143.33444029810153
25.32937272812387
124.14325253122024
14.819616726766071
12.183677383780378
12.893494358417684
87.02650479649992
72.54997208050463
21.59835510083485
39.69093590798548
26.477649690204544
4.894246107916388
54.77036482347967
18.30830079346515
13.90452312395928
19.75883299173438
16.525678776330096
60.460108232980474
56.43114413282865
16.72715193827753
25.6127257574708
36.22371363697039
284.6756748558696
97.75484469049343
34.47632809082097
61.4934145150396
110.26729184581427
6.307644662075745
12.537595032630179
25.18671151213175
88.65251464090898
138.89432400541864
19.134399545738233
49.97491641495117
56.87706289361586
127.12712469364033
118.89410842650068
15.900174944327318
70.5860074857178
153.4411383768138
37.400869526229144
17.482719235593322
46.4994832251823
8.40680262797423
37.681297496870684
99.25561126643925
26.849422549023984
45.96065729529755
94.16639539419748
53.35112341601052
55.91478704449082
28.210098440527872
11.679818761543174
27.52408467762507
32.55248673644928
21.966731837250336
146.46719584190578
75.97153247782308
73.02903222387522
34.237587648062345
17.67492051380259
55.24846696902705
20.41443818124344
6.10447819491219
22.995810367879585
11.720737551434468
208.184359889834
7.379099507726551
12.37808504417444
95.53441361680461
12.56934448432321
49.75343542404153
69.88488467439765
32.48128812536834
16.09772890292561
10.68576826137405
20.422910361958202
15.806792468986714
49.137957787857886
42.79540567008189
21.753639387437488
9.05772286656429
41.00461029245889
45.735587526924064
25.969805450744843
15.66200054337014
47.010598704253425
184.0036567488355
18.163550546593797
14.426163003564398
13.717259624600501
18.760075649419832
26.37757517631917
59.83078738979748
42.64690041216363
111.84427353483034
160.49686829576012
46.19701709011815
70.46475561697798
65.56567746300107
105.93466157323792
69.9404967624705
54.071251672641324
15.39855837639243
36.07176812157559
23.90092911044576
35.65813584233638
133.7748612002315
230.79636918457254
53.496816213270904
24.6359598533204
6.55943617411458
89.32337141832613
197.97913299919674
13.494919376395046
77.99598897896522
Average RMSE over the period: 53.488969128799745

In [24]:
#I want to know the average RMSE by day of week (e.g., is the model worse on mondays than on fridays?)
import collections
rmse_by_day = collections.defaultdict(list)
start_date = pd.Timestamp("2025-01-01 08:00:00")
end_date = pd.Timestamp("2025-04-01 08:00:00")
for _ in tqdm(range((end_date - start_date).days)):
    history_df = df[df[TS_COL] <= start_date]
    forecast_df = pipeline.predict_df(
        history_df,
        prediction_length=8,
        quantile_levels=[0.5],
        id_column=ID_COL,
        timestamp_column=TS_COL,
        target=TARGETS,
    )
    actuals_df = df[(df[TS_COL] > start_date) & (df[TS_COL] <= start_date + pd.Timedelta(hours=8))]
    merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
    rmse = mean_squared_error(
        merged_df['total_tbs'],
        merged_df['predictions']
    )
    day_of_week = start_date.day_name()
    rmse_by_day[day_of_week].append(rmse)
    start_date += pd.Timedelta(days=1)
# Calculate average RMSE by day of week
average_rmse_by_day = {day: sum(rmses) / len(rmses) for day, rmses in rmse_by_day.items()}
print("Average RMSE by day of week:")
for day, avg_rmse in average_rmse_by_day.items():
    print(f"{day}: {avg_rmse}")

  0%|          | 0/90 [00:00<?, ?it/s]

Average RMSE by day of week:
Wednesday: 41.38582932147818
Thursday: 95.91189453069525
Friday: 54.82910380477245
Saturday: 70.59074537012046
Sunday: 63.84156222594706
Monday: 64.8229408294746
Tuesday: 68.85372658078583

In [17]:
#add day of the week as a feature and see if it improves performance
df['day_of_week'] = df[TS_COL].dt.dayofweek

#now use tqdm to iterate through a new forecast every following day starting at 2025-01-01 always at 8am and average out the RMSEs
from tqdm.notebook import tqdm
rmse_list = []
start_date = pd.Timestamp("2025-01-01 08:00:00")
# end_date = df[TS_COL].max() - pd.Timedelta(hours=8)
end_date = pd.Timestamp("2025-02-01 08:00:00")
for _ in tqdm(range((end_date - start_date).days)):
    print(start_date)
    history_df = df[df[TS_COL] <= start_date]
    forecast_df = pipeline.predict_df(
        history_df,
        prediction_length=8,
        quantile_levels=[0.5],
        id_column=ID_COL,
        timestamp_column=TS_COL,
        target=TARGETS,
    )
    actuals_df = df[(df[TS_COL] > start_date) & (df[TS_COL] <= start_date + pd.Timedelta(hours=8))]
    merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
    rmse = mean_squared_error(
        merged_df['total_tbs'],
        merged_df['predictions']
    )
    rmse_list.append(rmse)
    start_date += pd.Timedelta(days=1)
    #clear output
    clear_output(wait=True)
average_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE over the period: {average_rmse}")

Average RMSE over the period: 78.45709604316224

In [20]:
#add holidays as a feature and see if it improves performance
import pandas as pd
import holidays

def add_holiday_flags(
    df: pd.DataFrame,
    ts_col: str = "ds",
    local_tz: str = "America/Montreal",
    observed: bool = True,
    include_names: bool = False,
) -> pd.DataFrame:
    """
    Adds boolean columns:
      â€¢ is_qc_holiday       â€” QuÃ©bec public holiday (CA-QC)
      â€¢ is_jewish_holiday   â€” Israeli public/Jewish holiday (IL)
    Optionally adds:
      â€¢ qc_holiday_name
      â€¢ jewish_holiday_name

    Notes:
      â€¢ Holiday checks are date-based (00:00â€“24:00 local calendar date),
        not sundown-to-sundown observance.
      â€¢ NaT timestamps are ignored gracefully.
    """
    out = df.copy()

    # 1) Parse to datetime
    out[ts_col] = pd.to_datetime(out[ts_col], errors="coerce")

    # 2) Get the calendar DATE to use for holiday lookup
    #    - If tz-aware: convert to Montreal then take .date
    #    - If naive: assume values already represent local Montreal wall-clock; just take .date
    if getattr(out[ts_col].dt, "tz", None) is not None:
        dates_for_calendar = out[ts_col].dt.tz_convert(local_tz).dt.date
    else:
        dates_for_calendar = out[ts_col].dt.date

    # 3) Build a SAFE integer year range for the holiday objects
    years_series = pd.Series(dates_for_calendar)
    years_series = years_series.dropna().map(lambda d: int(pd.Timestamp(d).year))
    if years_series.empty:
        raise ValueError("No valid datetimes found to extract holiday years.")
    years = list(range(int(years_series.min()), int(years_series.max()) + 1))

    # 4) Construct holiday calendars
    qc_holidays = holidays.Canada(subdiv="QC", years=years, observed=observed)
    il_holidays = holidays.Israel(years=years, observed=observed)

    # 5) Flag membership
    out["is_qc_holiday"] = [ (d in qc_holidays) if pd.notna(pd.Timestamp(d)) else False
                             for d in dates_for_calendar ]
    # out["is_jewish_holiday"] = [ (d in il_holidays) if pd.notna(pd.Timestamp(d)) else False
    #                              for d in dates_for_calendar ]

    if include_names:
        out["qc_holiday_name"] = [ qc_holidays.get(d, "") if pd.notna(pd.Timestamp(d)) else ""
                                   for d in dates_for_calendar ]
        out["jewish_holiday_name"] = [ il_holidays.get(d, "") if pd.notna(pd.Timestamp(d)) else ""
                                       for d in dates_for_calendar ]

    return out

df = pd.read_csv('https://www.dropbox.com/scl/fi/s83jig4zews1xz7vhezui/allDataWithCalculatedColumns.csv?rlkey=9mm4zwaugxyj2r4ooyd39y4nl&raw=1')
df.ds = pd.to_datetime(df.ds, errors="coerce")
df['id']='jgh'
df = add_holiday_flags(df, ts_col=TS_COL, include_names=False)

ID_COL = "id"
TS_COL = "ds"
TARGETS = ['total_tbs']

df = df.copy()
df[TS_COL] = pd.to_datetime(df[TS_COL], errors="coerce")
df = df.dropna(subset=[TS_COL])

# Snap to exact hours (lowercase 'h' to avoid FutureWarning)
df[TS_COL] = df[TS_COL].dt.floor("h")

# Sort + dedupe
df = df.sort_values([ID_COL, TS_COL]).drop_duplicates([ID_COL, TS_COL], keep="last")

def regularize_hourly(g: pd.DataFrame) -> pd.DataFrame:
    """
    Reindex each group's timestamps to strict hourly and fill gaps.
    Works whether the grouping column is present or omitted (include_groups=False).
    """
    # The group key (id) is available as g.name; if ID_COL exists, prefer it.
    sid = g[ID_COL].iloc[0] if ID_COL in g.columns else g.name

    g = g.sort_values(TS_COL)
    full_idx = pd.date_range(g[TS_COL].min(), g[TS_COL].max(), freq="h")
    g = g.set_index(TS_COL).reindex(full_idx)
    g.index.name = TS_COL

    # restore id (constant for the whole group)
    g[ID_COL] = sid

    # numeric + fill for targets
    for col in TARGETS:
        if col in g.columns:
            g[col] = pd.to_numeric(g[col], errors="coerce").ffill().bfill()
    return g.reset_index()

# Call apply with include_groups=False if supported; else fall back
gb = df.groupby(ID_COL, group_keys=False)
try:
    df = gb.apply(regularize_hourly, include_groups=False)
except TypeError:
    # older pandas without include_groups
    df = gb.apply(regularize_hourly)

# Assert truly hourly (accept 'h' and 'H')
g = df[df[ID_COL] == "jgh"].sort_values(TS_COL)
freq = pd.infer_freq(g[TS_COL])
if not freq:
    raise ValueError("No inferable frequency after regularization.")
if to_offset(freq).name.lower() != "h":
    # extra check independent of infer_freq
    diffs = g[TS_COL].diff().dropna()
    bad = g.loc[diffs != pd.Timedelta(hours=1), TS_COL].head(10).tolist()
    raise ValueError(f"Non-1h gaps remain around: {bad}")

#now use tqdm to iterate through a new forecast every following day starting at 2025-01-01 always at 8am and average out the RMSEs
from tqdm.notebook import tqdm
rmse_list = []
start_date = pd.Timestamp("2025-01-01 08:00:00")
# end_date = df[TS_COL].max() - pd.Timedelta(hours=8)
end_date = pd.Timestamp("2025-02-01 08:00:00")
for _ in tqdm(range((end_date - start_date).days)):
    print(start_date)
    history_df = df[df[TS_COL] <= start_date]
    forecast_df = pipeline.predict_df(
        history_df,
        prediction_length=8,
        quantile_levels=[0.5],
        id_column=ID_COL,
        timestamp_column=TS_COL,
        target=TARGETS,
    )
    actuals_df = df[(df[TS_COL] > start_date) & (df[TS_COL] <= start_date + pd.Timedelta(hours=8))]
    merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
    rmse = mean_squared_error(
        merged_df['total_tbs'],
        merged_df['predictions']
    )
    rmse_list.append(rmse)
    start_date += pd.Timedelta(days=1)
    #clear output
    clear_output(wait=True)
average_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE over the period: {average_rmse}")

Average RMSE over the period: 78.64947186187389

In [21]:
#add holidays as a feature and see if it improves performance
import pandas as pd
import holidays

def add_holiday_flags(
    df: pd.DataFrame,
    ts_col: str = "ds",
    local_tz: str = "America/Montreal",
    observed: bool = True,
    include_names: bool = False,
) -> pd.DataFrame:
    """
    Adds boolean columns:
      â€¢ is_qc_holiday       â€” QuÃ©bec public holiday (CA-QC)
      â€¢ is_jewish_holiday   â€” Israeli public/Jewish holiday (IL)
    Optionally adds:
      â€¢ qc_holiday_name
      â€¢ jewish_holiday_name

    Notes:
      â€¢ Holiday checks are date-based (00:00â€“24:00 local calendar date),
        not sundown-to-sundown observance.
      â€¢ NaT timestamps are ignored gracefully.
    """
    out = df.copy()

    # 1) Parse to datetime
    out[ts_col] = pd.to_datetime(out[ts_col], errors="coerce")

    # 2) Get the calendar DATE to use for holiday lookup
    #    - If tz-aware: convert to Montreal then take .date
    #    - If naive: assume values already represent local Montreal wall-clock; just take .date
    if getattr(out[ts_col].dt, "tz", None) is not None:
        dates_for_calendar = out[ts_col].dt.tz_convert(local_tz).dt.date
    else:
        dates_for_calendar = out[ts_col].dt.date

    # 3) Build a SAFE integer year range for the holiday objects
    years_series = pd.Series(dates_for_calendar)
    years_series = years_series.dropna().map(lambda d: int(pd.Timestamp(d).year))
    if years_series.empty:
        raise ValueError("No valid datetimes found to extract holiday years.")
    years = list(range(int(years_series.min()), int(years_series.max()) + 1))

    # 4) Construct holiday calendars
    qc_holidays = holidays.Canada(subdiv="QC", years=years, observed=observed)
    il_holidays = holidays.Israel(years=years, observed=observed)

    # 5) Flag membership
    # out["is_qc_holiday"] = [ (d in qc_holidays) if pd.notna(pd.Timestamp(d)) else False
    #                          for d in dates_for_calendar ]
    out["is_jewish_holiday"] = [ (d in il_holidays) if pd.notna(pd.Timestamp(d)) else False
                                 for d in dates_for_calendar ]

    if include_names:
        out["qc_holiday_name"] = [ qc_holidays.get(d, "") if pd.notna(pd.Timestamp(d)) else ""
                                   for d in dates_for_calendar ]
        out["jewish_holiday_name"] = [ il_holidays.get(d, "") if pd.notna(pd.Timestamp(d)) else ""
                                       for d in dates_for_calendar ]

    return out

df = pd.read_csv('https://www.dropbox.com/scl/fi/s83jig4zews1xz7vhezui/allDataWithCalculatedColumns.csv?rlkey=9mm4zwaugxyj2r4ooyd39y4nl&raw=1')
df.ds = pd.to_datetime(df.ds, errors="coerce")
df['id']='jgh'
df = add_holiday_flags(df, ts_col=TS_COL, include_names=False)

ID_COL = "id"
TS_COL = "ds"
TARGETS = ['total_tbs']

df = df.copy()
df[TS_COL] = pd.to_datetime(df[TS_COL], errors="coerce")
df = df.dropna(subset=[TS_COL])

# Snap to exact hours (lowercase 'h' to avoid FutureWarning)
df[TS_COL] = df[TS_COL].dt.floor("h")

# Sort + dedupe
df = df.sort_values([ID_COL, TS_COL]).drop_duplicates([ID_COL, TS_COL], keep="last")

def regularize_hourly(g: pd.DataFrame) -> pd.DataFrame:
    """
    Reindex each group's timestamps to strict hourly and fill gaps.
    Works whether the grouping column is present or omitted (include_groups=False).
    """
    # The group key (id) is available as g.name; if ID_COL exists, prefer it.
    sid = g[ID_COL].iloc[0] if ID_COL in g.columns else g.name

    g = g.sort_values(TS_COL)
    full_idx = pd.date_range(g[TS_COL].min(), g[TS_COL].max(), freq="h")
    g = g.set_index(TS_COL).reindex(full_idx)
    g.index.name = TS_COL

    # restore id (constant for the whole group)
    g[ID_COL] = sid

    # numeric + fill for targets
    for col in TARGETS:
        if col in g.columns:
            g[col] = pd.to_numeric(g[col], errors="coerce").ffill().bfill()
    return g.reset_index()

# Call apply with include_groups=False if supported; else fall back
gb = df.groupby(ID_COL, group_keys=False)
try:
    df = gb.apply(regularize_hourly, include_groups=False)
except TypeError:
    # older pandas without include_groups
    df = gb.apply(regularize_hourly)

# Assert truly hourly (accept 'h' and 'H')
g = df[df[ID_COL] == "jgh"].sort_values(TS_COL)
freq = pd.infer_freq(g[TS_COL])
if not freq:
    raise ValueError("No inferable frequency after regularization.")
if to_offset(freq).name.lower() != "h":
    # extra check independent of infer_freq
    diffs = g[TS_COL].diff().dropna()
    bad = g.loc[diffs != pd.Timedelta(hours=1), TS_COL].head(10).tolist()
    raise ValueError(f"Non-1h gaps remain around: {bad}")

#now use tqdm to iterate through a new forecast every following day starting at 2025-01-01 always at 8am and average out the RMSEs
from tqdm.notebook import tqdm
rmse_list = []
start_date = pd.Timestamp("2025-01-01 08:00:00")
# end_date = df[TS_COL].max() - pd.Timedelta(hours=8)
end_date = pd.Timestamp("2025-02-01 08:00:00")
for _ in tqdm(range((end_date - start_date).days)):
    print(start_date)
    history_df = df[df[TS_COL] <= start_date]
    forecast_df = pipeline.predict_df(
        history_df,
        prediction_length=8,
        quantile_levels=[0.5],
        id_column=ID_COL,
        timestamp_column=TS_COL,
        target=TARGETS,
    )
    actuals_df = df[(df[TS_COL] > start_date) & (df[TS_COL] <= start_date + pd.Timedelta(hours=8))]
    merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
    rmse = mean_squared_error(
        merged_df['total_tbs'],
        merged_df['predictions']
    )
    rmse_list.append(rmse)
    start_date += pd.Timedelta(days=1)
    #clear output
    clear_output(wait=True)
average_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE over the period: {average_rmse}")

Average RMSE over the period: 78.5571038847945

In [34]:
df = pd.read_csv('https://www.dropbox.com/scl/fi/s83jig4zews1xz7vhezui/allDataWithCalculatedColumns.csv?rlkey=9mm4zwaugxyj2r4ooyd39y4nl&raw=1')
df.ds = pd.to_datetime(df.ds, errors="coerce")
df['id']='jgh'

hourly_shifts = pd.read_csv('https://www.dropbox.com/scl/fi/1ap6anzn5q13lcykh3idn/hourly_shifts.csv?rlkey=ue7nnfmrxij8keku8cgsrveo8&raw=1')
hourly_shifts.ds = pd.to_datetime(hourly_shifts.ds, errors="coerce")
#replace all NaNs with NoMD in hourly_shifts
hourly_shifts = hourly_shifts.fillna('NoMD')

df = pd.merge(df, hourly_shifts, on='ds', how='left')

ID_COL = "id"
TS_COL = "ds"
TARGETS = ['total_tbs']

df = df.copy()
df[TS_COL] = pd.to_datetime(df[TS_COL], errors="coerce")
df = df.dropna(subset=[TS_COL])

# Snap to exact hours (lowercase 'h' to avoid FutureWarning)
df[TS_COL] = df[TS_COL].dt.floor("h")

# Sort + dedupe
df = df.sort_values([ID_COL, TS_COL]).drop_duplicates([ID_COL, TS_COL], keep="last")

def regularize_hourly(g: pd.DataFrame) -> pd.DataFrame:
    """
    Reindex each group's timestamps to strict hourly and fill gaps.
    Works whether the grouping column is present or omitted (include_groups=False).
    """
    # The group key (id) is available as g.name; if ID_COL exists, prefer it.
    sid = g[ID_COL].iloc[0] if ID_COL in g.columns else g.name

    g = g.sort_values(TS_COL)
    full_idx = pd.date_range(g[TS_COL].min(), g[TS_COL].max(), freq="h")
    g = g.set_index(TS_COL).reindex(full_idx)
    g.index.name = TS_COL

    # restore id (constant for the whole group)
    g[ID_COL] = sid

    # numeric + fill for targets
    for col in TARGETS:
        if col in g.columns:
            g[col] = pd.to_numeric(g[col], errors="coerce").ffill().bfill()
    return g.reset_index()

# Call apply with include_groups=False if supported; else fall back
gb = df.groupby(ID_COL, group_keys=False)
try:
    df = gb.apply(regularize_hourly, include_groups=False)
except TypeError:
    # older pandas without include_groups
    df = gb.apply(regularize_hourly)

# Assert truly hourly (accept 'h' and 'H')
g = df[df[ID_COL] == "jgh"].sort_values(TS_COL)
freq = pd.infer_freq(g[TS_COL])
if not freq:
    raise ValueError("No inferable frequency after regularization.")
if to_offset(freq).name.lower() != "h":
    # extra check independent of infer_freq
    diffs = g[TS_COL].diff().dropna()
    bad = g.loc[diffs != pd.Timedelta(hours=1), TS_COL].head(10).tolist()
    raise ValueError(f"Non-1h gaps remain around: {bad}")

#now use tqdm to iterate through a new forecast every following day starting at 2025-01-01 always at 8am and average out the RMSEs
from tqdm.notebook import tqdm
rmse_list = []
start_date = pd.Timestamp("2025-01-01 16:00:00")
end_date = df[TS_COL].max() - pd.Timedelta(hours=8)
# end_date = pd.Timestamp("2025-02-01 08:00:00")
for _ in tqdm(range((end_date - start_date).days)):
    print(start_date)
    history_df = df[df[TS_COL] <= start_date]
    future_df = hourly_shifts[hourly_shifts['ds'] > start_date].head(8)
    future_df['id'] = 'jgh'
    forecast_df = pipeline.predict_df(
        history_df,
        future_df = future_df,
        prediction_length=8,
        quantile_levels=[0.5],
        id_column=ID_COL,
        timestamp_column=TS_COL,
        target=TARGETS,
    )
    actuals_df = df[(df[TS_COL] > start_date) & (df[TS_COL] <= start_date + pd.Timedelta(hours=8))]
    merged_df = pd.merge(forecast_df, actuals_df, on=[ID_COL, TS_COL], suffixes=('_pred', '_actual'))
    rmse = mean_squared_error(
        merged_df['total_tbs'],
        merged_df['predictions']
    )
    rmse_list.append(rmse)
    start_date += pd.Timedelta(days=1)
    #clear output
    clear_output(wait=True)
average_rmse = sum(rmse_list) / len(rmse_list)
print(f"Average RMSE over the period: {average_rmse}")

Average RMSE over the period: 57.56830870363711

In [ ]:
all_shifts_df = pd.read_csv('https://www.dropbox.com/scl/fi/yeyr2a7pj6nry8i2q3m0c/all_shifts.csv?rlkey=q1su2h8fqxfnlu7t1l2qe1w0q&raw=1')
all_shifts_df.head()

,scheduled_shift_id,group_id,user_id,employee_id,npi,first_name,last_name,facility_id,facility_ext_id,facility_name,...,shift_short_name,shift_start,shift_end,shift_hours,work_start,work_end,work_hours,count_as_shift,is_night,is_weekend
0,9021,1,40,NaN,NaN,Joel,Turner,1,NaN,Jewish General Hospital,...,W1,2021-01-01 08:00:00,2021-01-01 16:00:00,8.0,1/1/2021 08:00,1/1/2021 16:00,8.0,0,0,0
1,9022,1,52,NaN,NaN,Gregory,Marton,1,NaN,Jewish General Hospital,...,X1,2021-01-01 08:00:00,2021-01-01 17:00:00,9.0,1/1/2021 08:00,1/1/2021 17:00,9.0,1,0,0
2,9023,1,20,NaN,NaN,Will,Grad,1,NaN,Jewish General Hospital,...,X3,2021-01-01 08:00:00,2021-01-01 17:00:00,9.0,1/1/2021 08:00,1/1/2021 17:00,9.0,1,0,0
3,9025,1,17,NaN,NaN,Jerry,Dankoff,1,NaN,Jewish General Hospital,...,X4,2021-01-01 08:00:00,2021-01-01 16:00:00,8.0,1/1/2021 08:00,1/1/2021 16:00,8.0,1,0,0
4,9026,1,26,NaN,NaN,Marie Renee,Lajoie,1,NaN,Jewish General Hospital,...,X2,2021-01-01 08:00:00,2021-01-01 16:00:00,8.0,1/1/2021 08:00,1/1/2021 16:00,8.0,1,0,0

In [12]:
#make me a dataframe where each row is an hourly timestamp and columns for each user_id, with the value being the shift type for that user at that timestamp, and fill NaNs with NotWorking
shift_pivot = all_shifts_df.pivot(index='ds', columns='user_id', values='shift_type').fillna('NotWorking')
shift_pivot.head()

KeyError: 'ds'